[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Werkzeug = "2.2.2"
flask = "*"
flask-bcrypt = "*"
flask-migrate = "*"
flask-restful = "*"
flask-sqlalchemy = "*"
python-dotenv = "*"
flask-cors = "*"
gunicorn = "*"
wtforms = "*"
sqlalchemy-serializer = "*"
honcho = "*"
importlib-resources = "*"
psycopg2-binary = "*"

[requires]
python_version = "3.8"
python_full_version = "3.8.13"
